* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background: #f4f4f4;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}


.container {
  max-width: 400px;
  width: 100%;
  background: white;
  padding: 20px;
  border-radius: 6px;
  color: #333;
}


h2 {
  text-align: center;
}


button {
  cursor: pointer;
  border-radius: 6px;
  border: none;
  padding: 10px;
}

.inc-exp-container {
  display: flex;
  justify-content: space-between;
  background: #f9f9f9;
  padding: 10px;
  margin: 20px 0;
  border-radius: 5px;
}

.money {
  font-size: 1.2em;
  font-weight: bold;
}

.plus {
  color: green;
}

.minus {
  color: red;
}
.list li {
  align-items: center;
}
.list {
  list-style-type: none;
  padding: 0;
}

.list li {
  background: #f9f9f9;
  padding: 10px;
  margin: 8px 0;
  display: flex;
  justify-content: space-between;
  border-right: 5px solid;
}

.list li.plus {
  border-color: green;
}

.list li.minus {
  border-color: red;
}

.delete-btn {
  background: red;
  color: white;
  border: none;
  padding: 3px 7px;
  cursor: pointer;
  margin-left: 10px;
  border-radius: 4px;
}
